@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:ital,wght@1,300&display=swap');
body {
  font-family: 'Roboto Slab', serif;
  background-color: #210124;
  color: #dbf9f0;
  text-align: center;
}
input {
  background-color: #750d37;
  color: #dbf9f0;
}
button {
  background-color: #750d37;
  color: #dbf9f0;
}
li {
  list-style: none;
}
