@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:ital,wght@1,300&display=swap');
body {
  font-family: 'Roboto Slab', serif;
  background-color: #210124;
  color: #dbf9f0;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
input {
  background-color: #750d37;
  color: #dbf9f0;
  text-align: center;
  box-shadow: inset 0 1px 2px #dbf9f0;
  -moz-box-shadow: inset 0 1px 2px #dbf9f0;
  -webkit-box-shadow: inset 0 1px 2px #dbf9f0;
  text-align: ce;
}
button {
  background-color: #750d37;
  color: #dbf9f0;
  margin-left: 10px;
}
li,
a {
  /* list-style: none;
  /* text-align: center; */
  text-decoration: none;
}
header {
  background-color: #750d37;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5em;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
